{% extends 'base.html' %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content%}
<div class="container">
    <br><br><br><br>
    <div class="card">
        <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                <fieldset class="form-group">
                <div class="form-group">
                    {{form.hidden_tag()}}
                    {{ form.profile_pic.label() }}
                    {{ form.profile_pic(class="form-control-file") }}
                    {% if form.profile_pic.errors %}
                    {% for error in form.profile_pic.errors %}
                    <span class="text-danger">{{ error }}</span>
                    </br>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group mt-4">
                    {{ form.submit(class="btn btn-white") }}
                </div>
            </fieldset>
            
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card position-fixed" style="width: 50rem;">
                <div class="card-body">
                    <!-- Profilepic -->
                    <div class="text-center">
                        <img class="" src="{{ url_for('static', filename='photos/' +image.name) }}"
                            style="width:150px; height:150px; border-radius:50%;margin-top: -30px;">
                        <br><br>
                    </div>
                    <h4 class="card-subtitle mb-2 text-active text-center">{{current_user.username}}</h4>
                    <br>
                    <h6 class="card-subtitle mb-2 text-active text-center">{{current_user.locations}}</h6>
                    <br><br>
                    <textarea id="txtid" name="txtname" rows="10" cols="50" maxlength="200" placeholder="Bio">
                        {%if current_user.user_bio %}
                        <p>{{user.bio}}</p>
                        {%else%}
                        <p>No bio</p>
                        {%endif%}
                    </textarea>
                    <br><br><br><br>
                    {%if current_user.is_authenticated%}
                    <hr>
                    <div class="profile-usermenu sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="{{url_for('home.profile', user_id=current_user.id)}}"
                                    class="btn btn-primary"><i class="fas fa-user-edit"></i>Profile Settings</a>
                            </li>
                        </ul>
                    </div>
                    {%endif%}

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h5 class="card-title text-center">POSTS</h5>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-9">
                        <div class="profile-content">
                            post

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}