{% extends 'base.html'%} 
{% import 'bootstrap/wtf.html' as wtf%} 
{% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <br>
    <div class="col-md-6 register-form" style="border: 1px solid black">
      <br>
      <br>
      <br>
      <h4 class="text-center" style="color:#0275d8">SIGN UP</h4>
      <br>
      <div class="form">{{wtf.quick_form(registration_form)}}</div>

      <p style="color: black; padding-top: 10px">
        Already have an account?
        <a href="{{url_for('auth.login')}}"><span style="color: #0275d8"> Login</span></a>
      </p>
    </div>
    <div
      class="col-md-6 img-fluid text-center"
      style="
        background-image:url(../static/photos/connect.jpg);
        background-size:cover;
        background-repeat:no-repeat;
      "
    >
  </div>
</div>
{% endblock %}

