@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color:white;
}
.card{
    border: 2px solid #5b5f63;
    box-shadow: 2px 2px 2px 2px #46464d;
    background-color: rgb(77, 175, 175, 0.2);
    opacity: 0.8;
    border-radius:15px;
    padding-top: 30px;
    color:white;
    font-size:22px;
    font-weight:600;
}
.card-body{
    /* justify-content:center; */
    /* align-content: center; */
    /* text-align: center; */
}
.card-text{
    padding-top: 30px;
    line-height: 50px;
}
span{
    color:#020202;
    font-size: 20px;
    font-weight: 400
}

