@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color:white;
}
.card{
    /* border: 2px solid #5b5f63; */
    box-shadow: 2px 2px 2px 2px #000000;
    background-color: rgba(23, 87, 176, 0.669);
    opacity: 0.8;
    border-radius:15px;
    /* padding-top: 30px; */
    color:white;
    font-size:22px;
    font-weight:200;
}
/* .card-body{ */
    /* justify-content:center; */
    /* align-content: center; */
    /* text-align: center; */
/* } */
.card-text{
    padding-top: 30px;
    line-height: 50px;
}
span{
    color:#020202;
    font-size: 20px;
    font-weight: 300
}

