{% extends "base.html" %}
{% import "home_macro.html" as macro %}
{% block styles %} {{super()}}
{% endblock %}
{% block body %} {% block content %}
<div class="container-fluid">
  <!-- to display post about me etc -->
  <section class="">
    <div class="row">
      <div class="col-md-2 text-white bg-primary p-3">
        {% block sidebar %} {% include
          "sidebar.html" %} {% endblock %}
      </div>
      <div class="col-md-8 text-center bg-white">
        <p class="text-dark">Hello {{current_user.username}}! What's happening in {{current_user.locations}} Today?</p>
        <hr>
        <div class="container d-flex">
          <div class="text-center" 
          style="width:100%;
          height:30vh">
            {{macro.display_posts(posts, commentform, current_user)}}
          </div>
        </div>
      </div>
      <div class="col-md-2 bg-dark d-none d-md-block">
        <button id="popbtn" class="btn btn-danger ">Popular</button>
        <h2 >Popular </h2>
        <div class="form-group">
          <label for=""></label>
          <input type="search" name="" id="" class="form-control" placeholder="search post">
        </div>
        {{macro.display_latestposts(recent_posts, current_user)}}
      </div>

    </div>
  </section>
</div>

{% endblock %} {% endblock %}