{% extends "base.html" %} 
{% import "blog_macro.html" as macro %}
{% block styles %} {{super()}}
<link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %} {% block navbar %} {% include
"navbar.html" %} {% endblock %} {% block content %}
<div class="container-fluid">
  <div class="text-center p-5">
   
    <hr/>
  </div>
  <!-- to display blog about me etc -->
  <section class="text-center m-3">
    <div class="row">
      {% if current_user.is_authenticated %}
      <div class="col-md-2 text-white">
        <h2></h2>
        <button class="">
          <a class="btn btn-light m-2" href="{{url_for('main.profile', user_id=current_user.id)}}">My Profile</a> <br>
          <a class="btn btn-light m-2" href="{{url_for('main.newpost', user_id=current_user.id)}}">New Post</a> <br>
          <a class="btn btn-light m-2" href="{{url_for('main.posts', user_id=current_user.id)}}">Posts</a>
        </button>
        {% endif %}
      </div>
      {% if current_user.is_authenticated %}
      
      <div class="col-md-8 text-center">
        <h2>Blogs</h2>
        <div class="bg-light">
        {{macro.display_blogs(blogs, commentform, current_user)}}
      </div>
      </div>
      {% else %}
      <div class="container-fluid text-center">
        <h2>Blogs</h2>
        <div class="col-md-10 bg-light">
          {{macro.display_blogs(blogs, commentform, current_user)}}
        </div>
      </div>
      {% endif %}
      {% if current_user.is_authenticated %}
      <div class="col-md-2 bg-darrk">
        <h2>Popular blogs</h2>
        <div class="form-group">
          <label for=""></label>
          <input type="search" name="" id="" class="form-control" placeholder="search blog">
          
        </div>
        {{macro.display_latestblogs(recent_blogs, current_user)}}
        
      </div>
      {% endif %}
    </div>
  </section>
  <!-- subscribe -->
  <div class="form-group border text-center p-3 m-3" id="subscribe" style="    background-color: hsl(273, 88%, 48%)!important;
"  >
    Subscribe to our monthly newsletter 
    <input type="text" placeholder="Email...">
    <input type="button" class="btn btn-primary" value="Subscribe">
  </div>
  <section>

  </section>
    <!-- contact section -->
  <section>
    <div class="container text-center" id="contact">
        <h2 class="p-3 m-3 text-center">CONTACT US</h2>
        <h4 class="text-secondary">Feel Free to get in touch anytime.</h4>
        <form action="https://formspree.io/f/mlezleoe" method="POST" class="form d-flex justify-content-center g-5"
          id="contactForm" name="contactForm">
          <div class="m-4">
            <label for="name"></label>
            <input type="text" class="bg-transparent text-white mb-3" name="name" placeholder="Name &#42" required /><br>
            <label for="email"></label> <br>
            <input type="email" class="bg-transparent text-white mb-3" name="email" id="email" placeholder="Email &#42"
              required /> <br>
            <label for="subject"></label> <br>
            <input type="subject" class="bg-transparent text-white mb-3" name="subject" id="subject" placeholder="Subject &#42"
              required />
          </div>
          <div>
            <label for="message"></label>
            <textarea rows="10" cols="50" class="bg-transparent text-white container" id="comment" name="message"
              placeholder="Message &#42"></textarea>
            <br />
            <input type="submit" value="Send" id="sendBtn" class="btn btn-primary m-3 text-light" />
          </div>
  
        </form>
      </div>
  </section>
</div>

{% endblock %} {% endblock %}
