{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %} {% macro display_posts(posts,
    commentform, user) %}
<div class="accordion" id="postsaccordion">
    {% for post in posts %}
    <div class="card my-4 custom-bg-2 custom-card p-2 text-dark">
        <div class="float-left">
            <div style="background-color:white ;
        width: 100px;
        height: 100px;
        border-radius: 50%
        ">
        <img class="" src="{{ url_for('static', filename='files/' + post.image_file)}}" style="width:100px; height:100px; border-radius:50% ">
        <p class="text-center">@{{post.user.username}}</p>
        <!-- {{user.profile_pic}} -->
        </div>
        </div>

        <div class="card-title">
            <img class="" src="{{ url_for('static', filename='files/' + post.image_file)}}" > <br>
        </div>
        <div class="card-header" id="{{post.id}}">
            <div class="" data-toggle="collapse" data-target="#post{{post.id}}">
                <span class="">{{post.post_body}}</span>
                <div class="card-body pt-1">
                    <p class="float-left">
                        <small class="text-muted">By:</small><strong
                            class="badge badge-dark">{{post.username}}</strong>
                    </p>
                    <p class="float-right text-dark">
                        <small>
                            <strong>{{post.post_created.strftime("%b, %d, %Y")}}</strong>
                        </small>
                    </p>
                    <br />
                </div>
            </div>
        </div>
        <div id="postcomms">
            <p class="badge badge-secondary">
                {{post.post_comments | length}}
                <i class="fas text-primary fa-comment-dots fa-2x"></i>
                </a>
            </p>
            <a href="/like/{{post.id}}" id=""
            ><span class="badge badge-secondary">
                <i class="fas fa-2x fa-heart like-fa text-danger" id="heart">
                </i> {{post.post_likes | length}}
            </span></a
          >

        </div>
        <div id="post{{post.id}}" class="collapse" data-parent="#postAccordion">
            {% if user.is_authenticated and user.id != post.author_id %}
            <form method="POST" class="commentform" id="commentForm{{post.id}}">
                {{commentform.csrf_token}}
                <div class="form-group">
                    {{ commentform.commentbody(class="custom-input") }}
                </div>
                <button type="submit" id="commentbtn">
                    Comment
                </button>
            </form>
            {% endif %}
            <h6 class="mt-4 pl-3 custom-color">{{post.post_comments |length}} comments</h6>
            <div class="custom-bg-2 comment-section{{post.id}}">
                {% for comment in post.post_comments %}
                <p class="pl-3">
                    <span class="badge badge-secondary custom-color">By@{{comment.user.username}}</span>
                    <small>{{comment.commenttext}}</small>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%endmacro%}
{% macro display_latestposts(posts, user) %}
<div class="latest-posts mt-5">
    {% for post in posts %}
    <div class="card custom-card custom-bg-2 my-2 bg-secondary">
        <div class="card-title">
            <img class="" src="{{ url_for('static', filename='files/' + post.image_file) }}"> <br>
        </div>
        <div class="card-header">
            <p class="">{{post.post_body | truncate(22)}}</p>
            <div class="card-footer pl-0">
                <div class="text-left">
                    <p class="pl-2 mb-1 badge badge-dark">By:@{{post.user.username}}</p>
                    <p class="small mb-1 float-right">
                        <strong>{{post.post_created.strftime("%b %d, %Y")}}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% block footer %} {% endblock %} {% endmacro %}