{% extends 'base.html'%}

<body>
  <!-- Navbar block  -->

  {% block content %}
  {% block navbar %}
  {% include 'navbar.html' %}
  {% endblock %}

  <div class="container-fluid landing-page" style="
      background-image: linear-gradient(
          100deg,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.5)
        ),
        url(../static/photos/areacodeback.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      height:100vh;
      margin: 0px 0px;
      opacity: 0.9;
    ">
    <div class="container pt-5 intro">
      <div class="card">
        <div class="card-body">
          <p class="card-text text-center">We are at the Heart of every Neighbourhood. <br>Keeping you in tabs with
            everything <br>around your Estate.</p>
          <p>Need all the <em>tea</em> about the estate party,<br> the <em>details</em> of the recent security mishap,
            <br> the <em>411</em> on the alcho-blow stops along your <br>route and ontime traffic updates, <br>look no
            further.<br> Join us Today! </p>
          <div class="registerbttn"><a href="{{url_for('auth.register')}}"
              class=" btn my-2 my-sm-0 card-link reg">REGISTER</a></div>
          <a href="{{url_for('home.homepage')}}">AREACODE</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock%}
</body>