    {% extends 'baseloign.html'%}
    {% import 'bootstrap/wtf.html' as wtf %}
    
    {% block content%}
    <div class="container">
        <br><br><br><br><br><br>
        <div class="row">
            <div class="col-md-2"></div>

            <div class=" card row"
                style="width: 60rem; height: 40rem; padding: 40px; background-image: url('/static/loginimages/loginimage.jpeg')">
                <div class="col-md-8 card" style="margin: 120px; padding: 20px">
                    {%for message in get_flashed_messages()%}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">&times;</button>
                    </div>
                    {%endfor%}
                    <form class="text-center" action="post">
                            <label for="fname">Username</label><br>
                            <p style="color: blue;">{{login_form.username}}</p><br><br>
                            <label for="fname">Password</label><br>
                            {{login_form.password}} <br><br><br>
                            {{login_form.remember}} Remember Me
                            <br> <br><br>

                            <p class="text-center">{{login_form.submit}}</p>
                    </form>
                    <br><br>
                    <small class="text-center">Not a member? <a href="/signup"><button
                                class="btn btn-md btn-secondary">Sign
                                Up</button></a></small>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    </div>
    {% endblock %}
