<link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}" /> 
<nav class="navbar navbar-expand bg-primary  py-2">
  <div class="container-fluid">
      <a class="navbar-brand" href=" #"><img src="{{url_for('static', filename='photos/logo2.png')}}" alt="Logo" width="60" height="60">Area Code</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse position-absolute top-0 end-0" id="navbarsExample02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item float-end">
          <a class="nav-link active text-white" href="{{url_for('home.homepage', user_id=current_user.id)}}">Home</a>
        </li>
        <li class="nav-item float-end">
          <a class="nav-link active text-white" href="{{url_for('home.profile', user_id=current_user.id)}}">Profile</a>
        </li>
        <li class="nav-item float-end">
          <a class="nav-link active text-white" href="{{url_for('auth.logout')}}">LOGOUT</a>
        </li>
        {% else %}
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" href="{{url_for('auth.login')}}">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="{{url_for('auth.register')}}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
</div>
</nav>


<!-- <nav class="navbar navbar-expand bg-primary" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Always expand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav> -->

