<link href="{{url_for('static',filename='css/navbar.css')}}" rel="stylesheet" />
<nav
  class="navbar navbar-expand navbar-dark bg-light"
>
  <div class="container-fluid">
    <div class="brandimg">
      <a class="navbar-item" href="">
        <img
          src=""
          width="250"
          height="250"
        />
      </a>
    </div>
    <div class="navbar-star bg-light text-center p-5">
      <a class="navbar-item" href="/"> Home </a>
      <a class="navbar-link" href="/about"> About </a>
      <a class="navbar-item" href="">Photos </a>
      <a class="navbar-item" href="#contact"> Contact </a>
      <hr class="navbar-divider" />
  </div>
    <div class="navbar-right" id="">
      {% if current_user.is_authenticated %}
        <a href="{{url_for('main.profile', user_id=current_user.id)}}" class="btn btn-success "
          >{{current_user.username}} is Active</a
        >
        <a href="{{url_for('auth.logout')}}" class="btn btn-danger ">Log Out</a>
      {% else %}
      <div class="buttons">
        <a class="btn btn-primary m-2" href="{{url_for('auth.signup')}}"> Sign up </a>
        <a class="btn btn-primary m-2" href="{{url_for('auth.login')}}"> Log in </a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>

