{% import 'bootstrap/wtf.html' as wtf %} {% macro display_posts(posts,
    commentform, user) %}
<div class="accordion" id="postsaccordion">
    {% for post in posts %}
    <div class="card my-4 custom-bg-2 custom-card p-2 bg-light">
        <div class="card-title">
            <h2 class="post-post-title">{{post.title}}</h2>
        </div>
        <div class="card-header" id="{{post.id}}">
            <div class="" data-toggle="collapse" data-target="#post{{post.id}}">
                <span class="">{{post.post}}</span>
                <div class="card-body pt-1">
                    <p class="float-left">
                        <small class="text-muted">By:</small><strong
                            class="badge badge-dark">{{post.user.username}}</strong>
                    </p>
                    <p class="float-right">
                        <small>
                            <strong>{{post.post_created.strftime("%b, %d, %Y")}}</strong>
                        </small>
                    </p>
                    <br />
                </div>
            </div>
        </div>
        <div>
            <p class="badge">
                {{post.comments | length}}
                <i class="fas text-primary fa-comment-dots fa-2x"></i>
                </a>
            </p>
            <p class="ml-4 badge custom-card {% if user.id != post.author_id %}like {% endif %}"
                id="like likes{{post.id}}">
                <span class="text-success count-likes{{post.id}}">
                    {{post.likes|length}}
                </span>
                <i class="fas fa-2x fa-heart like-fa p-1 text-danger"> </i>
            </p>
            <p class="ml-4 badge custom-card {% if user.id != post.author_id %}like {% endif %}"
                id="dislike dislikes{{post.id}}">
                <span class="text-danger count-dislikes{{post.id}}">
                    {{post.dislikes|length}}
                </span>
                <i class="fas fa-2x fa-thumbs-down text-danger like-fa p-1"> </i>
            </p>
        </div>
        <div id="post{{post.id}}" class="collapse" data-parent="#postAccordion">
            {% if user.is_authenticated and user.id != post.author_id %}
            <form method="POST" class="commentform" id="commentForm{{post.id}}">
                {{commentform.csrf_token}}
                <div class="form-group">
                    {{ commentform.commentbody(class="custom-input") }}
                </div>
                <button type="submit" id="commentbtn">
                    Comment
                </button>
            </form>
            {% endif %}
            <h6 class="mt-4 pl-3 custom-color">{{post.comments |length}} comments</h6>
            <div class="custom-bg-2 comment-section{{post.id}}">
                {% for comment in post.comments %}
                <p class="pl-3">
                    <span class="badge badge-secondary custom-color">By@{{comment.username}}</span>
                    <small>{{comment.comment}}</small>
                </p>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{%endmacro%}
{% macro display_latestposts(posts, user) %}
<div class="latest-posts mt-5">
    {% for post in posts %}
    <div class="card custom-card custom-bg-2 my-2 bg-light">
        <div class="card-title">
            <h4>{{post.title}}</h4>
        </div>
        <div class="card-header">
            <p class="">{{post.post | truncate(22)}}</p>
            <div class="card-footer pl-0">
                <div class="text-left">
                    <p class="pl-2 mb-1 badge badge-dark">By:@{{post.user.username}}</p>
                    <p class="small mb-1 float-right">
                        <strong>{{post.post_created.strftime("%b %d, %Y")}}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% block footer %} {% endblock %} {% endmacro %}